.input{
    width: 30vh;
}
.Container {
    justify-content: center;    
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}
.footer{
    margin-bottom: 50%;
}
.profile{
    height: 100vh;
}